.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: map-get($sizes, header-height);
  padding-inline: 30rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(map-get($colors, secondary), 0);
  transition: all 300ms ease;
  z-index: 5;

  &.middle {
    background-color: rgba(map-get($colors, secondary), 1);
  }

  &.closed {
    top: calc(map-get($sizes, header-height) * -1);
  }

  &--logo {
    height: 50%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4rem;

    &-item a {
      font-size: map-get($font-sizes, m);
      transition: all 400ms ease;

      &:hover {
        color: map-get($colors, primary);
      }
    }
  }

  &--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    svg {
      fill: map-get($colors, text);
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}
