$colors: (
  "text": #fafafa,
  "text-secondary": #c9c9c9,
  "background": #111,
  "primary": #155a2c,
  "secondary": #000,
  "accent": #40b078,
);

$font-sizes: (
  "s": 1.2rem,
  "base": 1.6rem,
  "m": 2rem,
  "l": 2.4rem,
  "xl": 2.8rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "heading-2": 4.8rem,
  "heading-1": 5.6rem,
);

$font-weights: (
  "tiny": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
);

$sizes: (
  "header-height": 9rem,
  "footer-height": 7rem,
);

$breakpoints: (
  "xs": "max-width: 575.98px",
  "sm": "(min-width: 576px) and (max-width: 767.98px)",
  "md": "(min-width: 768px) and (max-width: 991.98px)",
  "lg": "(min-width: 992px) and (max-width: 1199.98px)",
  "xl": "(min-width: 100px) and (max-width: 1399.98px)",
  "xxl": "min-width: 1400px",
);
